html {
  font-size: 16px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

/* typography */

p {
  font-size: 1rem;
  line-height: 1.35;
}

a {
  font-size: 0.9rem;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.15;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.35rem;
}

@media only screen and (max-width: 50rem) {
  p {
    font-size: 1rem;
    line-height: 1.35;
  }

  a {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 1.15;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 32rem) {

}

/* header navigation styles */

header {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5rem;
}

nav p {
  flex: 1;
  text-transform: uppercase;
  font-weight: 300;
}

nav p span {
  font-weight: 600;
}

nav ul {
  display: flex;
}

nav ul li {
  padding-right: 1rem;
  font-size: 0.8rem;
}

nav ul li:last-child {
  padding: 0;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 32rem) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}

/* banner styles */

.banner {
  background-color: #dedede;
  display: flex;
}

.banner-image {
  width: 60%;
  padding: 2rem 1.5rem;
  align-self: center;
}

.banner img {
  width: 100%;
}

.headline {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.5rem;
}

.headline p {
  padding: 1.5rem 0 2rem 0;
  font-weight: 600;
  font-size: 1.15rem;
}

button {
  background-color: dimgray;
  width: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
  color: white;
  font-size: 1em;
}

@media only screen and (max-width: 50rem) {
  .banner-image {
    width: 50%;
  }
  .headline p {
    font-size: 1rem;
    padding: 1rem 0 1.5rem 0;
  }
}

@media only screen and (max-width: 40rem) {
  h1 {
    font-size: 1.5rem;
  }
  .headline p {
    font-size: 0.9rem;
    padding: 0.5rem 0 1rem 0;
  }
}

@media only screen and (max-width: 32rem) {
  .banner {
    flex-direction: column;
  }
  .banner-image {
    width: 100%;
    padding: 0;
  }
  .headline {
    width: 100%;
    padding: 0
  }
  h1 {
    font-size: 2.25rem;
    padding: 2rem 1rem 0 1rem;
  }
  .headline p {
    padding: 2rem 1rem;
    font-size: 1.25rem;
  }
  .headline a {
    padding: 0 1rem 2rem 1rem;
  }
}

/* campus info */

.campus-info {
  display: flex;
}

.testimonial {
  width: 60%;
  background-color: white;
  padding: 2rem 1.5rem;
}

.testimonial img {
  width: 100%;
  align-self: center;
}

.testimonial h2 {
  padding: 2rem 0 1.5rem 0;
}

.testimonial p:last-of-type {
  padding: 2rem 0;
  font-size: 0.75rem;
}

.side-cards {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 2rem 0;
  border-left: 0.5px solid #dedede;
}

.card {
  display: flex;
}

.card:first-child {
  border-bottom: 0.5px solid #dedede;
}

.card:first-child img {
  padding: 0 1rem 1rem 1rem;
}

.card:last-child {
  border: none;
  background-color: #dedede;
}

.card img {
  width: 35%;
  height: auto;
  padding: 1rem;
  align-self: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
}

.card-info p {
  font-size: 0.8rem;
  padding: 0.75rem 0;
}

.side-cards:first-child {
  padding-bottom: 1rem;
}

.mobile-card-image {
  display: none;
}

@media only screen and (max-width: 62.5rem) {
  h3 {
    font-size: 1.1rem;
  }
  .card {
    border: none;
  }
  .card:first-child {
    border: none;
  }
  .card-info {
    padding-right: 0.5rem;
  }
}
@media only screen and (max-width: 50rem) {
  .testimonial {
    width: 50%;
  }
}

@media only screen and (max-width: 48.125rem) {
  .testimonial {
    width: 40%;
  }
  .side-cards {
    width: 60%;
  }
}
@media only screen and (max-width: 40rem) {
  .card img {
    padding: 2.5rem 1rem;
  }
}

@media only screen and (max-width: 32rem) {
  .testimonial {
    display: none;
  }
  .side-cards {
    width: 100%;
    padding: 0;
  }
  .card {
    flex-direction: column;
    padding: 1rem;
  }
  .card img {
    width: 100%;
    padding: 0;
  }
  .card:first-child img {
    padding: 0;
  }
  .card:last-child {
    background-color: white;
  }
  .mobile-card-image {
    display: block;
    width: 100%;
  }
  .card-image {
    display: none;
  }
  .card-info {
    padding: 4rem 0 3rem 1rem;
  }
  h3 {
    font-size: 2rem;
  }
  .card-info p {
    font-size: 1.25rem;
  }
  .card-info a {
    font-size: 1rem;
  }
}
